@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post)) { 
    @Html.HiddenFor(x=>x.SkillId)

    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x=>x.Title, new {@class="form-control" })

    @Html.Label("Yeyenek Değeri")
    @Html.TextBoxFor(x=>x.Value, new {@class = "form-control"})

    <br/>
    <button class="btn btn-info">Kaydet</button>
}

