@model EntityLayer.Concrete.SocialMedia
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("AddSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sosyal Medya Düzenleme</h4>

                <form class="forms-sample">

                    @Html.HiddenFor(x=>x.SocialMediaId)
                    @Html.Label("Sosyal Medya")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

                    <br />

                    @Html.Label("Ikon")
                    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })

                    <br />

                    @Html.Label("Url")
                    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })

                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </form>
            </div>
        </div>
    </div>

}


